Flask
Flask-SQLAlchemy
Flask-Login
pandas
python-dotenv
google-generativeai
sqlalchemy
flask_sqlalchemy
openpyxl
matplotlib
numpy
scipy
xlsxwriter
tqdm
PyMuPDF
werkzeug
pypandoc
frontend
tools
pypandoc
pytesseract
Pillow
psutil
scipy
sympy
antlr4-python3-runtime
PyYAML
